*
{
margin: 0;
padding: 0;
}

 #home{
background-color: #634439;
height: 100vh;
width: 100vw;
background-image: url("//images/claudia-chiavazza-N9vsB6OEeKM-unsplash.jpg");
background-size: cover;

} 

.navbar{
  
  background-color: #000000 !important;
  opacity: 0.85;
  border-bottom: #fd7e14 1px;
}

.navbar :nth-child(1){
  margin: auto;
}
.navbar-brand{
  color: #ffffff !important;
  font-size: 1.5rem !important;
}
.nav-link{
  color: #ffffff !important;
  font-size: 1.5rem !important;  
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  font-size: 70px !important;
  margin-top: 80px !important;
  color: #ffffff !important;
}
.content p{
  margin: 20px auto;
  font-weight: 100px;
  list-style: 25px;
}
.content .button{ 
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.content span{
  background-color: black;
  width: 0;
  height:100% ;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: -5s;
}
button:hover span{
  width: 100%;
}
.button {
  background-color: #fd7e14;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
.button:hover{
    background-color: #ffffff;
    color: #fd7e14;
    border: 1px solid;
    transition: ease 2s;
  }
.socialMediaLinks{
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 1rem;
}
.fa{
  color: #ffffff;
}

.mainsection{
  display: flex;
  height: 100vh;
  align-items:center;
  justify-content:flex-start;
  /* margin: 10px; */
  margin-left: 25%;
  margin-right: 25%; 
}

.left-section{
  width: 50%;
  /* padding: .5rem; */
  /* margin: 2rem; */
}
.right-section{
  width: 50%;  
}
.sectionHeading{
  text-align: center;
}

#about{
  display: flex;
background-color: #fd7e14;
height: 50vh;
width: 100vw;
}
#portfolio{
display: flex;
background: wheat;
height: 100vh;
width: 100vw;
}
#contact{
background-color: white;
height: 50vh;
width: 100vw;
}
/* form sytles on contact page */
.form-container{
  border-radius: .313rem;
  background-color:#ffffff;
  padding: 0.625rem;
  font-size: 1rem;
}
input[type=text], input[type=email] ,input[type=number],textarea {
  width: 100%;
  padding: .313rem;
  border: 0px solid #ffffff;
  box-sizing: border-box;
  margin-top: .375rem;
  margin-bottom: 1rem;
  resize: vertical;
  background-color: #ffffff;
  border-bottom: solid 2px;
  color: #000;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
/* form buttons on contact page */
button[type=submit] ,button[type=reset]{
  background-color: #fd7e14;
  color: white;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  margin: 1em;
  width: 30%;
}