/*rests the body margin and padding */
*{ 
  margin: 0;
  padding: 0;
 
}
/*body bacground image for the index page */
body.homepage{
  background-image: url("/images/backgroundUnsplash.jpg");
  background-size: cover;
}
/* background for other pages */
body{
  background-color:#8395a7;
}
/*set the header background color to white,area where the navigation links are */
header{
  background-color: #c8d6e5;
}
h1{
  color: #e2c574;
  font-size: 3rem;
}

h3{
  color: #e2c574;
}
/*flex box container for the navigation*/
.navbar{
  display: flex;
  list-style: none;
  justify-content:flex-end;
  padding: .5em;
  
}
.current{
	background-color:#000000;
  color: #e2c574;
  border-bottom: solid 2px#e2c574 ;
}
.navbar li{
  font-size: 1rem ;
  padding: .5em;
}
.navbar li a{
  text-decoration: none;
  padding: 1rem;
}
.navbar li a:hover{
background-color:#000000;
color: #e2c574;
transition: ease 2s;
}
/*flex container for the main content and is divided into two sections */
.mainsection{
  display: flex;
  height: 100vh;
  align-items:center;
  
}
.left-section{
  width: 30%;
  /* padding: .5rem; */
  margin: 2rem;
}
.right-section{
  width: 70%;
}
.card-panel{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: auto;
  text-align: center;
}




/* form sytles on contact page */
.form-container{
  border-radius: .313rem;
  background-color: #8395a7;
  padding: 0.625rem;
  font-size: 1rem;
}
input[type=text], input[type=email] ,input[type=number],textarea {
  width: 100%;
  padding: .313rem;
  border: 0px solid #8395a7;
  box-sizing: border-box;
  margin-top: .375rem;
  margin-bottom: 1rem;
  resize: vertical;
  background-color: #8395a7;
  border-bottom: solid 2px;
  color: #000;
}
/* form buttons on contact page */
button[type=submit] ,button[type=reset]{
  background-color: #121414;
  color: white;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  margin: 1em;
  width: 30%;
}

/*If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 840px) {
  .navbar{
    flex-direction: column;
}
.mainsection{
  flex-direction: column;
  width: 100vw;
}
/* form sytles on contact page */
.form-container{
  border-radius: .313rem;
  background-color: #8395a7;
  padding: 0.5rem;
  font-size: 1rem;
}
.left-section{
  width: 100vw;
  /* padding: .5rem; */
  margin: 2rem;
}
.right-section{
  width: 100vw;
}





}
