body{
  margin: 0%;
  padding: 1%;
  background-color: rgb(69, 110, 148);
}
Main {
  background-color: #fff;
  padding: .2%;
  
  
}
.navbar{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navbar li{
  margin: -.1rem; 
}
.navbar li a{
  text-decoration: none;
  font-size: .9rem;
  padding: 1rem;
  background-color: rgb(69, 110, 148);
  color: #fff;
  
}
.navbar li a:hover{
  background-color: #ffffff;
  color: #000000;
}

.current{
  background-color:red;
  color: white;
}



